@model IEnumerable<Richard2.Models.sampleMenu>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/menu_viewer.css" rel="stylesheet" />
</head>



<div class="split left">    
    PDF HERE
</div>

<div class="split right">
    <div id="demo" style="margin-top: 40px;">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dish)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Veg_Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size_Comment)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Veg_Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size_Comment)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are sure wants to delete?');">Delete</a>
                    </td>
                </tr>
            }
        </table>


        <!-- The below code is for the modal dialog -->
        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <a href="#close" title="Close" class="modal-close-btn">X</a>
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    </div>

        <script script language="javascript" type="text/javascript">
            $(function () {

                $('body').on('click', '.modal-link', function (e) {
                    e.preventDefault();

                    $("#modal-container").remove();

                    $.get($(this).data("targeturl"), function (data) {

                        $('<div id="modal-container" class="modal fade">' +
                            '<div class="modal-content" id= "modalbody" >' +
                            data + '</div></div>').modal();

                    });
                });
            });
        </script>





