@model IEnumerable<Richard2.Models.sampleMenu>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/pdfView.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    @*<script>
            var id = $button.attr("id");
            $.ajax({
                type: "POST",
                url: "dosomething.php?id=" + id + "&newvalue=" + newVal,
                success: function () {
                    $button.parent().find("input").val(newVal);
                }
            });
        </script>*@

    <script>
     $(document).ready(function () {

        $('#MyForm').submit(function (e) {

            var formData = new FormData(this);

            $.ajax({
                url: '@Url.Action("InfoMenu", "sampleMenu")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                 // here in result you will get your data                   
                },
                error: function (result) {

                }
            });
            e.preventDefault();
        });
    });
    </script>

</head>

<body>


    <div class="split left">
        <object id="pdf_view" data="" type="application/pdf"></object>        
    </div>

    <div class="split right">

        <div id="demo" style="margin-top: 40px;">
            <div class="jumbotron">
                @* was post *@
                <form asp-controller="sampleMenu" asp-action="InfoMenu" method="post" id="MyForm">
                    <div>
                        <label for="name">MENU ID: </label>
                        <input type="text" name="menu_id" id="french-hens" value="0">                       
                        <div class="inc button">+</div>
                        <div class="dec button">-</div>
                    </div>                    

                    <input type="submit" value="Submit" id="submitButton">
                </form>



            </div>

            @Html.ActionLink("Create", "ViewCreate", "sampleMenu", null, new { @class = "modal-link btn btn-success" })

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Veg_Comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Size_Comment)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dish)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Veg_Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size_Comment)
                        </td>

                        <td>
                            @*<a asp-action="ViewEdit" asp-route-id="@item.Id">Edit</a>*@
                            @Html.ActionLink("Edit", "ViewEdit/" + @item.Id, "sampleMenu", null, new { @class = "modal-link btn btn-success" })
                            <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are sure wants to delete?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>

<script src="~/js/incrementing.js"></script>

